/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-image: url('../images/morskoe-oko.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.login-container {
    width: 100%;
    max-width: 724px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    font-weight: normal;
}

.login-box h3 {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.4;
}

.login-box h3 span {
    color: #5552E8;
    font-weight: bold;
}

.login-box p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #666;
}

/* Форма */
.login-box input[type="tel"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 15px;
    outline: none;
}

.login-box input[type="tel"]:focus {
    border-color: #5552E8;
    box-shadow: 0 0 0 2px rgba(59, 0, 216, 0.1);
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #3b00d8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-box button:hover {
    background: #5552E8;
}

/* Политика конфиденциальности */
.privacy-policy {
    font-size: 12px;
    margin-top: 20px;
    color: #666;
    text-align: center;
    line-height: 1.5;
}

.policy-link {
    color: #5552E8;
    text-decoration: underline;
    font-weight: bold;
}

.policy-link:hover {
    color: #5552E8;
}